chromadb
feedparser
langchain
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-groq
langchain-huggingface
lxml[html_clean]
newspaper3k
python-dotenv
sentence-transformers
spacy>=3.7.0
streamlit
transformers
