streamlit
langchain
langchain-community
langchain-core
langchain
langchain-community
langchain-chroma
langchain-groq
langchain-huggingface
chromadb
newspaper3k
feedparser
python-dotenv
streamlit
transformers
sentence-transformers
spacy>=3.7.0
